@import "tailwindcss";

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
html {
  scroll-behavior: smooth;
}



.swiper-button-prev,
.swiper-button-next {
  color: gray; /* Tailwind green-700 */
  width: 30px;
  height: 30px;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10;
}






/* Make arrows smaller */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px; /* Smaller default arrow icons */
}